.panel {
  height: 100vh;
  &.login-banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to top left,rgba(9, 9, 121, 0.4), rgba(0, 212, 255, 0.4)), url(../../../../assets/imgs/background.jpg);
  }
}

.mat-input {
  color: grey;
}
