<div class="default-container">
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Nome</mat-label>
        <input name="name" formControlName="name" type="name" matInput>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Condominio</mat-label>
        <mat-select formControlName="condominium">
          <mat-option *ngFor="let condominium of condominiums" [value]="condominium.id">{{condominium.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div>Permissão</div>
      <mat-radio-group
        formControlName="role"
        class="d-flex mb-1">
        <mat-radio-button value="0" class="mr-1">
          Normal
        </mat-radio-button>
        <mat-radio-button value="1">
          Administrador
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <button mat-raised-button color="primary" (click)="updateUser()">Atualizar</button>
  </form>
</div>
