<div>
  <mat-toolbar>
    <span>Condomínios</span>
  </mat-toolbar>
   <div class="default-container">
    <mat-accordion *ngFor="let condominium of condominiums">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{condominium.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
          <p>{{condominium.city}}</p>
          <p>Criado em: {{condominium.createdAt}}</p>
          <div>
            <button mat-button (click)="deleteCondominium(condominium.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button [routerLink]="['/condominios/atualizar', condominium.id]">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="mt-1">
      <button mat-raised-button class="f-right" color="primary" [routerLink]="['/condominios/registro']">Cadastrar</button>
    </div>
  </div>
</div>
