<div>
  <mat-toolbar>
    <span>Postes</span>
  </mat-toolbar>
   <div class="default-container">
    <mat-accordion *ngFor="let pole of poles">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="mr-1"><b>Id do poste: </b></span> {{pole.id}}
          </mat-panel-title>
          <mat-panel-description>
            {{pole.condominium?.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-between">
          <p>{{pole.isGateway ? 'É gateway' : 'Não é gateway'}}</p>
          <p>Criado em: {{pole.createdAt}}</p>
          <p>Condomínio: {{pole.condominiumId}}</p>
          <div>
            <button mat-button (click)="deletePole(pole.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-button>
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
